$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: "avenirLight";
  src: url('/fonts/avenir_light.eot');
  font-weight:normal;
  font-style:normal;
}

html, body {
  background-image:url('/images/background_tile.png');
  background-attachment: fixed;
}

h1, h2 {
  color:#ffffff;
  letter-spacing: 0px;
}

p {
  color: #b3b3b3;
}

a {
  color: #ffffff;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.row {
  margin: 0;
  height: 500px;
  width: 100%;
  display: block;
  position: relative;
}

.portal-wrapper {
  width: 100%;
}

//A window to another dimension...
.portal {
  background-color: #f8993d;
  padding-top:20.83% //Force a 1920:400 aspect ratio.
}

//navbar stuff

.navbar {
  border-bottom: 0;
  min-height: 100px;
  display: none;
  margin-bottom:0;
}

.nav {
  text-align:center;
  height: auto;
  font-family: "avenirLight", sans-serif;
  font-size:1.3em;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    padding-top: 25px;
}

.navbar-nav > li {
  margin-left: 18px;
  margin-right: 18px;
}

.navbar-brand {
  line-height: 100px;
  height: auto;
}

//row div stuff

.altcolor {
  background-color: #38556b;
}

//footer stuff

.footer {
  padding: 30px 0;
  background-color:#38556b;
  border-top: 3px solid #f8953f;
  color:#ffffff;
}

.footer_badge {
  width:40px;
  opacity:0.7;
  margin: 0 10px;
}

.footer_badge:hover {
  opacity:1.0;
}

#row_separator {
  height: 3px;
  width: 100%;
  background-color: #f8953f;
  display:none;
  position:relative;
}

#jtsprite {
  background-image:url('/images/jtsprite.gif');
  height:350px;
  width:231px;
  display:none;
  margin-right: 5%;
  top: -150px;
  position:relative;
  vertical-align:middle; 
}

#bio-wrapper {
  text-align:center;
  position:Relative;
  top:-25px;
}

.bio {
  display:inline-block;
  position:relative;
  width: 500px;
  top:50px;
}

.bio-blurb {
  display:inline-block;
}

.chart-wrapper {
	width: 20%;
	margin: 0 auto;
	display: inline-block;
}

.chart-gap {
	width: 5%;
	display: inline-block;
}

.chart {
    padding: 3px;
}

.chart div {
  width: 0;
  height: 30px;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: #f8953f;
  text-align: right;
  padding: 3px;
  margin: 10px;
  color: white;
  box-shadow: 2px 2px 2px #c97022;
}

.chart div:hover {
	background-color:#fe5308;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 820px) {

  #row_separator {
    display:block;
  }

  #jtsprite {
    display:inline-block;
  }

  .navbar {
    display:block;
  }
}
