
@mixin world_element {
	width: 100%;
	height: 100%;
	position: absolute;
}

#hero {
	width: 90px;
	height: 100px;
	background: url('/assets/images/sidescroller/hero_sprite.png') left center;
	background-repeat:no-repeat;
	position: absolute;
	top: 238px;
	z-index: 5;
	display: inline-block;
	animation: hero_play 1.0s steps(8) infinite;
}

@keyframes hero_play {
	100% {	background-position: -808px; }
}

.fire {
	width: 123px;
	height: 100px;
	background: url('/assets/images/sidescroller/fire2_sprite.png') left center;
	background-repeat:no-repeat;
	position: absolute;
	top: 245px;
	left: 1500px;
	z-index: 5;
	display: none;
	animation: fire_play 0.5s steps(8) infinite;
}

@media (min-width: 1600px) {
  
	.fire {
		display: inline-block;
	}

}

@keyframes fire_play {
	100% { 	background-position: -984px;	}
}


.caliburn {
	width: 85px;
	height: 154px;
	background: url('/assets/images/sidescroller/caliburn_sprite.png') left center no-repeat;
	position: absolute;
	top: 184px;
	left: 375px;
	z-index: 7;
	animation: cal_glow 5s steps(20) infinite;
}

@keyframes cal_glow {
	100% {	background-position: -1701px;	}
}

.foliage_front {
	@include world_element;
	background-repeat: no-repeat;
	z-index: 6;
	opacity: 0.98;
}

.foliage_back {
	@include world_element;
	background-repeat: no-repeat;
	z-index: 4;
}

.ruins {
	@include world_element;
	background-repeat: no-repeat;
	z-index: 10;
}

.clouds {
	@include world_element;
	background: url('/assets/images/sidescroller/sunset/clouds.png') no-repeat;
	opacity: 0.8;
	z-index: 1;
	animation: cloud_scroll 160s infinite;
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear
}

.clouds_back {
	@include world_element;
	background: url('/assets/images/sidescroller/sunset/clouds_back.png') no-repeat;
	opacity: 0.6;
	z-index: 1;
	top: -100px;
	animation: cloud_scroll_back 120s infinite;
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
}

@keyframes cloud_scroll {
	0% 		{	background-position: -1920px 0; }
	100% 	{	background-position: 1920px 0; }
}

@keyframes cloud_scroll_back {
	0% 		{	background-position: -2880px 0; }
	100% 	{	background-position: 1920px 0; }
}

.stars {
	@include world_element;
	z-index: 1;
	opacity: 0.25;
	animation: star_glow 7s infinite;
}

@keyframes star_glow {
	50% 	{	opacity: 1.0;	}
	100%	{	opacity: 0.25;	}
}

.tent {
	@include world_element;
	background-repeat: no-repeat;
	z-index: 4;
}

.grass {
	@include world_element;
	background-repeat: no-repeat;
	z-index: 100;
}