<div class="portal-wrapper">
	<div class="portal">
		<h1> Hello, my name is JT. </h1>
		<h2>press left/right to move around.</h2> 
		<div class="stars"></div>
		<div class="clouds"></div>
		<div class="clouds_back"></div>
		<div class="ruins"></div>
		<div class="foliage_back"></div>
		<div class="foliage_front"></div>
		<div class="grass"></div>
		<div class="caliburn"></div>
		<div class="stone"></div>
		<div class="tent"></div>
		<div class="fire"></div>
		<div id="hero" style="left: {{hero.x}}px;
							  transform:scaleX({{hero.dir * -1}});
							  filter: brightness({{timeAlpha}});
							  -webkit-filter: brightness({{timeAlpha}});
							  -moz-filter: brightness({{timeAlpha}});
							  -o-filter: brightness({{timeAlpha}});
							  -ms-filter: brightness({{timeAlpha}});
							 ">
		</div>
	</div>
</div>  
