<!-- INCLUDE Portal -->
<div ng-include="'components/portal/portal.html'"></div>

<!-- INCLUDE Navbar -->
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">

  <!--PROJECTS-->
  <div class="row text-center" id="projects">
    <br>
    <h1>projects</h1>
  </div>

</div>

<!-- <div id="row_separator"></div> -->

<!--ABOUT-->
<div class="row altcolor" id="about">

  <div id="bio-wrapper">
  <div id="jtsprite"></div>
  <div class="bio text-left">
    <h2> Howdy! Welcome to my part of town. </h2><br>
    <p class="bio-blurb">
      I am a programmer and designer who likes to make stuff! Lots of stuff.<br><br>
      I'm currently studying at the <a href="http://www.upenn.edu/">University of Pennsylvania</a>, majoring in Computer Science and minoring in Statistics/Nanotechnology.
      In the past, I've done some research at Penn State (oh the irony!) working in the <a href="www.hugheslab.com">Hughes Lab</a>.<br><br>
      I started off studying Bioengineering, but I realized along the way that I enjoyed Computer Science too much to not major in it! I still entertain a large interest in the medical field, however. I've also discovered a growing passion for pure Mathematics and Probability Theory.<br><br>
      I'm now searching for new ways to apply my interests, particularly real-world applications of statistical analysis!<br><br>
      I also like to sing and do voiceover work! If you're so inclined, check out my cover(s).
    </p>
  </div>
  </div>
</div>

<div class="container-fluid">

  <!--SKILLS-->
  <div class="row text-center" id="skills" ng-controller="SkillCtrl">
    <br>
    <h1>skills</h1>
    <br><br>
    <div class="chart-wrapper">
    	<skill-chart chart-data="skillData"></skill-chart>
    </div>
    <div class="chart-gap"></div>
    <div class="chart-wrapper">
    	<skill-chart chart-data="skillData"></skill-chart>
    </div>
  </div>

</div>


<footer class="footer text-center">
  <div class="container">
    <a href="http://www.w3.org/TR/html5/">
      <img class="footer_badge" src="images/badge_html5.png" alt="HTML5 Powered!">
    </a>
    <a href="https://angularjs.org/">
      <img class="footer_badge" src="images/badge_angular.png" alt="Built with Angular!">
    </a>
    <a href="http://nodejs.org/">
      <img class="footer_badge" src="images/badge_node.png" alt="Run on Node!"
    </a>
  </div>
</footer>