<!-- INCLUDE Portal -->
<div ng-include="'components/portal/portal.html'"></div>

<!-- INCLUDE Navbar -->
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">

  <!--PROJECTS-->
  <div class="row text-center" id="projects">
    <br>
    <h1>projects</h1>
  </div>

  <div id="row_separator"></div>

  <!--ABOUT-->
  <div class="row altcolor text-center" id="about">
    <br>
    <h1>about</h1>
  </div>

  <!--SKILLS-->
  <div class="row text-center" id="skills">
    <br>
    <h1>skills</h1>
  </div>

</div>